
<div class="container">
  <div class = "row">
    <div class = "col-md-6">
      <h3>Change Password</h3>
	<form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm">
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" style="width: 300px;" required />
		    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
		</div>
		<div class="form-group">
		    <button [disabled]="loading" class="btn btn-primary">Submit</button>
		    <a [routerLink]="['/settings']"><button>Cancel</button></a>
		</div>
	</form>
    </div>
  </div>
</div>
