<div class="row" >
    <div class="col-sm-12 nopadding">
        <canvas #gamecanvas (click)="gameClick($event)" width="400" height="400"></canvas>
        <div>
        <label>
            <strong>Do you think the robot is doing the right thing?</strong>
        </label>
        <button id='true' [disabled]="buttonStatus" #confirmationButton (click)="confirmFunction($event)">Yes</button>
        <button id='false' [disabled]="buttonStatus" #confirmationButton (click)="confirmFunction($event)">No</button>
    </div>

<!-- 
      <div class="col-md-4 col-md-offset-0" style="margin:0px; padding:0px; height:100%; background-color:lightGray; height:90vh" *ngIf="this.hideservice.getIt()">
      </div> -->
  </div>
