.teleop{
  position: relative;
  display: inline-block;
  width: 170px;
  height: 110px;
  margin-top: 20px;
}

.tel-left{
  position: absolute;
  top: 55px;
  width: 50px;
  height: 50px;
}
.tel-up{
  position: absolute;
  left: 55px;
  width: 50px;
  height: 50px;
}
.tel-down{
  position: absolute;
  top: 55px;
  left: 55px;
  width: 50px;
  height: 50px;
}
.tel-right{
  position: absolute;
  top: 55px;
  left: 110px;
  width: 50px;
  height: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  font-family: sans-serif;
  font-size: 12px;
  margin-left: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 45px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 30px;
}

.slider .sliderlabel{
	position: absolute;
	z-index: 10;
	height: 26px;
	width: 45px;
	top: 13px;
	bottom: 4px;
	padding-top: 4px;
  color: #696969;
}

.slider .slow{
	left: 13px;
}
.slider .fast{
	left: 60px;
}
