
<div class="col-md-2 col-md-offset-0" > <!--style="border:3px solid black;"-->
    <robot></robot>
    <br /><br /><br /><br />
    <sensor></sensor>
</div>
<div class="col-md-8 col-md-offset-0" align="center"><!-- style="border:3px solid black;"-->
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>Welcome to Robot Management App!!!</p>
    <div id="map"></div>
    <button (click)="launchHusky()">Launch Husky Simulator</button>
    <button (click)="shutdownHusky()">Shutdown Husky Simulator</button>
    <!--<ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user._id)">Delete</a>
        </li>
    </ul>-->
</div>

<div class="col-md-2 col-md-offset-0" style=" margin:0px; padding:0px; height:100%;" *ngIf="show"><!--"border:3px solid black;-->
    <pre>{{messageOutput}}</pre>
    <button (click)="pubCmdVel(-0.5)">Back</button>
    <button (click)="stopCmdVel()">Stop</button>
    <button (click)="pubCmdVel(0.5)">Forward</button>
</div>