<div class="sensorSelect" style="text-align:left" align="center">
    <h2>Select Sensors</h2>
    <form>
        <input type="checkbox" name="Asensor" value="Accelerometer">Accelerometer <br />
        <input type="checkbox" name="Osensor" value="Odometer">Odometer <br />
        <input type="checkbox" name="Lsensor" value="Lidar">Lidar <br />
        <input type="checkbox" name="Ksensor" value="Kinect">Kinect <br />
        <input type="checkbox" name="Psensor" value="Proximity">Proximity <br />
    </form>
</div>
<div class="sensorButton" style="text-align:center">
    <br /> <br /> <br />
    <button type="button">Add Sensors</button>
</div>


