<div class="container">
  <div class = "row">
    <div class = "col-md-8">
      <h2>Forgot Password?</h2>
      <h6>Email with temporary password will be sent to the email address associated with username entered below once implemented.</h6>
	<form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" name="username" size="40" style="width: 300px;" required />
		    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
		</div>
		<div class="form-group">
	       	  <button [disabled]="loading" class="btn btn-primary">Send</button>
		  <a [routerLink]="['/auth/login']"><button >Cancel</button></a>
		</div>
	</form>
    </div>
  </div>
</div>
